.main_content{
  height: 100%;
  padding-bottom: 50px;
  background-color: gray;
  .main_content_logs{
    width: 80%;
    height: 100%;
    background-color: white;
    margin: auto;
    overflow: scroll;
    padding-top: 50px;
    .main_content_log{
      float: left;
      background-color: blue;
      height: 40%;
      margin: 5px;
      width: calc(33.3% - 12px);
      border-radius: 8px;
      border: 1px solid #ccc;
    }
    @include clearfix()
  }
}
