.notice{
  background-color: blue;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
}

.alert{
  background-color: red;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
