<div class="main_content">
  <ul class="main_content_logs">
    <li class="main_content_log", style="background-image: url(http://www.basstank.jp/noike/noike100/photo/005.JPG);"></li>
    <li class="main_content_log", style="background-image: url(http://black-bass.com/images/bass1.jpg);"></li>
    <li class="main_content_log", style="background-image: url(http://portal.nifty.com/2015/06/30/b/img/pc/001.jpg);"></li>
    <li class="main_content_log"></li>
    <li class="main_content_log"></li>
    <li class="main_content_log"></li>
    <li class="main_content_log"></li>
    <li class="main_content_log"></li>
    <li class="main_content_log"></li>
    <li class="main_content_log"></li>
    <li class="main_content_log"></li>
    <li class="main_content_log"></li>
  </ul>
</div>
