<header>
  <div class="header_bar">
    <div class="header_logo">
      <%= link_to "Angler", root_path %>
    </div>
    <div class="header_btn">
      <%= link_to "New Log", new_log_path %>
    </div>
    <div class="header_btn">
      <%= link_to "Map", "/" %>
    </div>
    <div class="header_btn">
      <%= link_to "My Page", "/" %>
    </div>
  </div>
</header>
