<div class="container" id="container-box">
  <div class="row">
    <div class="card-group">
      <div class="col-md-4">
        <img class="card-img-top" src="https://uds.gnst.jp/rest/fs_img/s7cm0vdz0000/s_1001.jpg?t=1438219978" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-4">
        <img class="card-img-top" src="https://uds.gnst.jp/rest/fs_img/s7cm0vdz0000/s_1001.jpg?t=1438219978" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-4">
        <img class="card-img-top" src="http://adv.yomiuri.co.jp/images/ojo/tokusyu/201602/201602toku3_p2.gif" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-4">
        <img class="card-img-top" src="http://adv.yomiuri.co.jp/images/ojo/tokusyu/201602/201602toku3_p2.gif" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-4">
        <img class="card-img-top" src="http://adv.yomiuri.co.jp/images/ojo/tokusyu/201602/201602toku3_p2.gif" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-4 clearfix">
        <img class="card-img-top" src="http://adv.yomiuri.co.jp/images/ojo/tokusyu/201602/201602toku3_p2.gif" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
