<div class="container" id="container-box">
  <%= render "common/notification" %>
  <div class="row">
    <div class="card-group">
      <%= render partial: "common/log", collection: @logs %>
    </div>
  </div>
</div>
